@model ResultBlogByIdDto
<div class="col-md-8 ftco-animate">
    <h2 class="mb-3">@Model.Title</h2>
    <p>@Model.Description</p>
    <p>
        <img src="images/image_7.jpg" alt="" class="img-fluid">
    </p>

    @await Component.InvokeAsync("_BlogDetailClodTagByBlogComponentPartial", new { id = ViewBag.blogid })
    @await Component.InvokeAsync("_BlogDetailAuthorAboutComponentPartial", new { id = ViewBag.blogid })




    <div class="pt-5 mt-5">
        @await Component.InvokeAsync("_CommentListByBlogComponentPartial")
        @await Component.InvokeAsync("_AddCommentComponentPartial")


    </div>

</div>