@model ResultBlogByIdDto
<div class="col-md-8 ftco-animate">
    <h3 class="mb-3">@Model.Title</h3>
    <p>@Html.Raw(@Model.Description)</p>
    <p style="text-align:center">
        <img src="@Model.CoverImageURL" alt="" class="img-fluid">
    </p>

    @await Component.InvokeAsync("_BlogDetailClodTagByBlogComponentPartial", new { id = ViewBag.blogid })
    @await Component.InvokeAsync("_BlogDetailAuthorAboutComponentPartial", new { id = ViewBag.blogid })




    <div class="pt-5 mt-5">
        @await Component.InvokeAsync("_CommentListByBlogComponentPartial", new { id = ViewBag.blogid})
        @await Component.InvokeAsync("_AddCommentComponentPartial", new { id = ViewBag.blogid })


    </div>

</div>