@model ResultBlogAuthorByBlogIdDto
<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        <img src="@Model.Image" alt="Image placeholder" class="img-fluid mb-4">
    </div>
    <div class="desc">
        <h3>@Model.NameSurname</h3>
        <p>@Model.Description</p>
    </div>
</div>