@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}



<div class="container-fluid">
    <span>Aliş Tarihi: @ViewBag.bookpickdate      </span>
    <span>VerilişTarihi: @ViewBag.bookoffdate       </span>
    <span>Aliş Zaman:  @ViewBag.timepick          </span>
    <span>Veriliş Zaman :  @ViewBag.timeoff           </span>
    <span>Lokasyon Id :@ViewBag.locationId        </span>

</div>

