@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("_BlogDetailMainComponentPartial", new { id = ViewBag.blogid })
         
            <div class="col-md-4 sidebar ftco-animate">
        
                @await Component.InvokeAsync("_BlogDetailSideBarSearchBoxComponentpartial")
                @await Component.InvokeAsync("_BlogDetailCategoryViewComponents")
                @await Component.InvokeAsync("_BlogDetailRecentBlogsComponentPartial")
                @await Component.InvokeAsync("_BlogDetailsTagCloudComponentPartial", new { id = ViewBag.blogid })

            
     
            </div>

        </div>
    </div>
</section>


@if (TempData["status"]!=null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "@TempData["Icon"]",
            title: "@TempData["status"]"
        });
    </script>
}
