@model ResultFeatureByIdDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Araç Özelliği Güncelleme</h4>
                <p class="card-subtitle mb-4">Araç özelliği ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Güncellenecek alanları doldurduktan sonra güncelle butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>
                <form method="post">
                    <div class="form-group">
                        <input type="hidden" asp-for="FeatureId">
                        <label for="exampleInputModel">Özellik</label>
                        <input type="text" class="form-control" id="exampleInputModel" asp-for="Name" placeholder="Özellik adını giriniz">
                    </div>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Araç özelliğini güncelle</button>
                </form>

            </div>
        </div>

    </div>

</div>





