@model List<ResultRandom3CarWithBrandDto>
<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Diğer Araçlarımıza Göz Atın</span>
                <h2 class="mb-2">Popüler Araçlar</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url(@item.BigImageUrl);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="/Car/CarDetail/@item.CarId">@item.BrandName</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">@item.Model</span>
                                <p class="price ml-auto">@item.DailyAmount <span>/</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="/Reservation/Index/@item.CarId" class="btn btn-primary py-2 mr-1">Hemen Kirala</a> <a href="/Car/CarDetail/@item.CarId" class="btn btn-secondary py-2 ml-1">Detaylar</a></p>
                        </div>
                    </div>
                </div>
            }
         
          
        </div>
    </div>
</section>